@import "tailwindcss";

/* Custom dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Baloo 2", sans-serif;

  /* Light theme colors (default) */
  --color-background: #FFF8EC;
  --color-surface: #FDF2E1;
  --color-text: #3B3024;
  --color-primary: #D6654F;
  --color-primary-hover: #C6533E;
  --color-primary-pressed: #A74435;
  --color-accent: #FBBE8C;
  --color-accent2: #A9C3A2;
  --color-timer-bg: #F7EBD4;
  --color-danger: #DC2626;
  --color-danger-hover: #B91C1C;
}

@layer theme {
  :root, :host {
    @variant dark {
      --color-background: #1B1A17;
      --color-surface: #2A2925;
      --color-text: #F7EBD4;
      --color-primary: #FF7A58;
      --color-primary-hover: #FF6442;
      --color-primary-pressed: #E45234;
      --color-accent: #FBBE8C;
      --color-accent2: #A9C3A2;
      --color-timer-bg: #3A362F;
      --color-danger: #EF4444;
      --color-danger-hover: #DC2626;
    }
  }
}



@layer base {
  body {
    @apply bg-background text-text font-sans;
  }
}
